.lane {
    float: left;
    width: 275px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    margin: 10px;
    background: #efefef;
}

.lane__title {
    margin: 0;
    padding: 20px;
}

.lane--form {
    opacity: .5;
    border: 1px dashed grey;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.lane--form:hover {
    opacity: 1;
}
